/* 
.App {
  text-align: center;
}
.App-header {
  background-color: white;
  height: 150px;
  padding: 20px 20px 0 20px;
  color: #222;
  text-align: center;
}

body {
  color: #484848;
}

.App-header hr {
  width: 50%;
}

.App-header h1 {
  background: #222;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 0.5em;
} */
/* 
.posts.container {
  margin-top: 0.5em;
} */

/* .App-header .row {
  background-color: rgb(114, 114, 114);
  border-radius: 8px;
  color: white;
  margin: 32px;
} */
/* 
.app-descriptor {
  font-size: 1em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

.kevinflo-by {
  font-family: "Helvetica Neue", sans-serif;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  border-top-left-radius: 5px;
  padding: 6px;
  border-top: 1px solid #efefef;
  border-left: 1px solid #efefef;
  background: #fff;
  color: #6f6f6f;
  text-decoration: none;
}
.kevinflo-by:hover {
  background: #fff;
  color: rgb(255, 71, 66); /* change to your main brand color */
}
.kevinflo-by img {
  border-radius: 100%;
  width: 22px;
  vertical-align: middle;
}
.kevinflo-by p {
  margin: 0;
  vertical-align: middle;
  display: inline;
  margin-left: 7px;
  font-weight: 500;
  font-size: 14px;
}

.job-post {
  text-align: center;
}

.job-post h1 {
  color: black;
}
body {
  background-color: #303030;
  color: white;
}

a {
  color: rgb(225, 0, 80);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
